body {
    font-family: font-family: '方正兰亭黑简体常规', Microsoft Yahei, STheiti, WenQuanYi Micro Hei, helvetica, arial, sans-serif;
    width: 100%;
    background: #eaeaea;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    min-width: 340px;
}
ul {
    list-style-type: none;
    width: 100%;
    text-align: center;
    padding: 0px;
    margin: 0px;
}
