.li-lost-content p{
    display: block;
    color: #333;
    height: 20px;
    width: 94%;
    margin-left: 3%;
    position: relative;
  }
   <style type="text/css">
  *,input{
    padding: 0;
    margin: 0;
    float: none;
    font-family:'黑体';
    -webkit-appearance:none;
    font-size: 14px;
  }
  body{
    width: 100%;
    height: 100%;
    background: #f8f8f8;
    overflow:hidden;
    padding-bottom: 70px;
  }
  div{
    background: #ffffff;
  }
  ul{
    list-style: none;
    height: 100%;
    width: 100%;
  }
  ul li{
    /*height: 60px;*/
    width: 100%;
    float: left;
    margin-top: 5px;
    position: relative;
  }
  #lostheader{
    height:45px;
    background: #4790FF;
    display: block;
    text-align: center;
    position: relative;
  }
  .togoback{
    height: 45px;
    display: block;
    width: 60px;
    top: 0;
    position: relative;
  }
  #imgforback{
    height: 26px;
    width: 26px;
    display: block;
    position: absolute;
    top: 21%;
    left: 50%;
    margin-left: -13px;
  }
  
  .ptitle{
    color: #ffffff;
    font-size: 18px;
    text-align: center;
    display: block;
    line-height: 25px;
    height: 45px;
    width: 88px;
    position: absolute;
    left: 50%;top: 0;
    margin-left: -44px;
  }
  .lostmain{
    position: relative;
    /*height: 578px;*/
  }
  .li-lost-content p{
    display: block;
    color: #333;
    height: 20px;
    width: 94%;
    margin-left: 3%;
    position: relative;
  }
  #riqi:after{
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    position: absolute;
    left: 57px;
    top: 3px;
    background: url(/Addons/LostAndFound/View/default/Public/waplostandfound/images/red_point.png);
    background-repeat: no-repeat;
  }
  #lianxiren:after{
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    position: absolute;
    left: 40px;
    top: 3px;
    background: url(/Addons/LostAndFound/View/default/Public/waplostandfound/images/red_point.png);
    background-repeat: no-repeat;
  }
  #dtel:after {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    position: absolute;
    left: 28px;
    top: 3px;
    background: url(/Addons/LostAndFound/View/default/Public/waplostandfound/images/red_point.png);
    background-repeat: no-repeat;
  }
  #leixing:after{
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    position: absolute;
    left: 28px;
    top: 3px;
    background: url(/Addons/LostAndFound/View/default/Public/waplostandfound/images/red_point.png);
    background-repeat: no-repeat;
  }
  .lastone{
    height: 200px;
    width: 100%;
  }

  .golunch{
    width:90%!important;
    height: 40px;
    color: #4790ff;
    line-height:40px;
    display: block;
    border: none;
    border: 1px solid #4790ff;
    background: #ffffff;
    margin:10px auto;
  }
  .lostdd{
    width: 94%;
    margin: 0;
    margin-left: 3%;
    border: 1px solid #d9d9d9;
    display: block;
    height: 38px;
    position: relative;
  }
  .infss{
    padding: 2px  2px;
  }
  .lostddelse{
    width: 100%;
    border: none;
    display: block;
    height: 34px;
    position: relative;
  }
  .lostfileuri{
    position: absolute;
    opacity: 0;
    top: 15px;
    height: 38px;
    width: 94%;
  }
  .urivalue{
    width: 94%!important;
    margin-left: 3%;
    border: 1px solid #d9d9d9;
    display: block;
    height: 38px;
    -webkit-appearance: listbox;
    margin-top:1px;
  }
  .imgbtn {
    width: 36px;
    border:none;
    border-left: 1px solid #999999;
    border-right: 1px solid #999999;
    background-clip: padding-box;
    display: block;
    height: 34px;
    position: absolute;
    top: 21px;
    background-color:#eeeeee;
    right: 3.3%;
    text-align: center;
  }
  #contacts{
    width: 100%;
    border: none;
    display: block;
    height: 34px;
    position: relative;
}
  #telphone{
    width: 100%;
    border: none;
    display: block;
    height: 34px;
    position: relative;
}
  #qq{
    width: 100%;
    border: none;
    display: block;
    height: 34px;
    position: relative;
}
  .imgbtnwid{
    width: 80px;
    background: #eeeeee ;
  }
  .imgdate{
    background: url(/Addons/LostAndFound/View/default/Public/waplostandfound/images/date.png) no-repeat center #eeeeee;
    border-radius: none;
  }
  .typeimg{
    background: url(/Addons/LostAndFound/View/default/Public/waplostandfound/images/type_select.png) no-repeat center #eeeeee ;
    border-radius: none;
  }
  #losttype:before{
    content: "";
    display: block;
    position: absolute;
    height: 30px;
    width: 10px;
    background: #e7e7e7;
    right: 0;
  }
  .infs textarea {
    width: 100%;
    height: 150px;
    font-size: 14px;
    border: none;
  }
  .infs {
    width: 94%;
    margin-left: 3%;
    padding: 8px 5px;
    border: 1px solid #ccc;
  }
  .photoList li {
    float: left;
    margin: 0 15px 15px 0;
    position: relative;
  }
  .photoList {
    margin: 15px 10px;
    padding-top: 5px;
  }
  .photoList .on {
    background: #d9d9d9 url(/Addons/LostAndFound/View/default/Public/waplostandfound/images/sprBg.png) no-repeat -244px -4px;
    margin-right: 0;
    cursor: pointer;
  }
  .photoList .on, .maskLay {
    width: 60px;
    height: 60px;
  }
  .photoList li{
    width: 60px;
    height: 60px;
  }
  .textTip {
    width: 100%;
    line-height: 21px;
    color: #afafaf;
    clear: both;
  }
  .cBtn{
    right: -10px;
    top: -5px;
    display: block;
    width: 25px;
    height: 25px;
    background: url(/Addons/LostAndFound/View/default/Public/waplostandfound/images/sprBg.png) no-repeat;
    -webkit-background-size: 400px auto;
    text-indent: -9999px;
    position: absolute;
  }
  #max-length-elementspan{
    color:#000;
  }
  .box{
      width: 94%;
      padding-left: 3%;
      display: box;
      display: -webkit-box;
      box-orient: vertical;
      -webkit-box-orient: vertical;
  }
  #bindOrNo{
      display: box;
      display: -webkit-box;
      -webkit-box-pack: left;
      -webkit-box-align: center;
      box-pack: left;
      box-align: center;
  }
  .ckno {
      border: 6px solid black;
      width: 24px;
      height: 24px;
      border-radius: 12px;
  }
  .ckyes{
      background-color: green;
  }
  .newbtn{
    width:40px !important;
    position:absolute;
    top:30px;
  }
  
  </style>