doctype html(lang='zh')
head
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(charset='UTF-8')
    title 失物登记
    link(rel='stylesheet', href='css/common.css')
    script(src='js/jquery-2.1.4.js')

body
    block content
