body {
    font-family: font-family: '方正兰亭黑简体常规', Microsoft Yahei, STheiti, WenQuanYi Micro Hei, helvetica, arial, sans-serif;
    width: 100%;
    background: #eaeaea;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    min-width: 340px;
}
ul {
    list-style-type: none;
    width: 100%;
    text-align: center;
    padding: 0px;
    margin: 0px;
}
a:link {
    color: #fff;
    text-decoration: none;
}
a:visited {
    text-decoration: none;
    color: #fff;
}
a:hover {
    text-decoration: underline;
    color: #fff;
}
a:active {
    text-decoration: none;
    color: #fff;
}

/*
	Chrome input textarea fix
*/

input, button, select, textarea {
    outline: none
}
textarea {
    resize: none
}

/*
	Safari input textarea fix
*/

textarea, input {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    border-radius: 0;
}
